/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

/* Colours */
:root {
    --background: #F5FAFC;
    --text: #557082;
}


/* Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Cormorant Garamond", serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--text);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1000;
}

#header .container {
    min-height: 10vh;
    background-color: rgb(176, 195, 218);
}

#header .top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
}

#header .logo {
    font-size: 2rem;
    font-weight: 700;
    padding: 15px;
}

#header .nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
}

#header .nav-bar ul.active {
    left: 100%;
}

#header .nav-bar ul a {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* for big screens */
@media screen and (min-width: 1200px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-bar ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        padding: 5px;
    }

    #header .nav-bar ul a {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

#footer {
    color: var(--text);
}

#footer .container {
    min-height: 20vh;
    padding-top: 20px;
    padding-bottom: 15px;
}

#footer .bottom-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 0px 25px;
}

#footer .copyright {
    padding-top: 100px;
}

#footer .contact-info ul {
    list-style: none;
    display: block;
    flex-direction: row;
    position: initial;
    width: fit-content;
    height: auto;
}

#footer .contact-info ul li {
    display: inline-block;
    padding: 0px 20px;
}

/* #footer .contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
} */

#footer h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}

#footer .contact a, p, .address a {
    font-size: 1.65rem;
    font-weight: 600;
}

#footer .address, .socials, .contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer .socials a {
    text-transform: uppercase;
    font-size: 1.65rem;
    font-weight: 600;
}

#footer .socials a span {
    font-size: 0.9rem;
    letter-spacing: 5px;
}

#footer .socials a:hover {
    transform: scale(1.05);
}